* {
  box-sizing: border-box;
}

body,
html {
  font-size: $font-size-base;
  @media (max-width: $screen-md) {
    font-size: 14px;
  }
  @media (max-width: $screen-sm) {
    font-size: 13px;
  }
}

body {
  position: relative;
  font-family: $font-base;
  font-size: $font-size-base;
  background-color: $grey1;
  color: $grey10;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor:pointer;
}

svg {
    max-width: 100%;
}

select {
	appearance: none;
	/* target Internet Explorer 10-11 to undo the custom arrow */
	&::-ms-expand {
  	display: none;
	}
}
