{{ partial "head" . }}

<header class="c-header">
	<div class="l-container">
		<a href="/" class="c-logo-brand">
			{{ partial "logo-killbug" . }}
		</a>
		<a href="" class="c-header__account">
			<div class="c-badge">
				<img src="http://placehold.it/50x50" alt="">
			</div>
			<i class="c-icon material-icons">keyboard_arrow_down</i>
		</a>
	</div>
</header>

<div class="l-container u-padding-y-50">
	<div class="l-grid-row">
		<div class="l-col-3">
			<div class="c-card u-padding-30">
				<a href="#" class="c-link c-link--icon c-link--dark c-link--no-decoration u-block"><i class="c-icon material-icons">person</i> Edit profile</a>
				<a href="#" class="c-link c-link--icon c-link--dark c-link--no-decoration u-block u-margin-t-15"><i class="c-icon material-icons">settings</i> Account settings</a>
			</div>
		</div>
		<div class="l-col-9">
			<div class="c-card">
				<div class="u-padding-30">
					<div class="c-form-group">
						<label for="fname" class="c-form-label">
							First name
						</label>
						<input id="fname" name="fname" type="text" class="c-form-control" placeholder="The name your mom gave you some time ago 😀">
					</div>
					<div class="c-form-group u-margin-t-30">
						<label for="lname" class="c-form-label">
							Last name
						</label>
						<input id="lname" name="lname" type="text" class="c-form-control" placeholder="Sometimes, we wish this name was different…">
					</div>
					<div class="c-form-group">
            <label class="c-form-label" for="country">Country</label>
            <div class="c-addon-container">
              <select id="country" class="c-form-control c-form-control--select">
								<option value="" disabled selected>That's where you live right now...</option>
                {{ partial "country-option" . }}
              </select>
              <i class="c-icon material-icons">keyboard_arrow_down</i>
            </div>
          </div>
					<div class="c-form-group">
            <label class="c-form-label" for="country">Position</label>
            <div class="c-addon-container">
              <select id="country" class="c-form-control c-form-control--select">
								<option value="" disabled selected>We know you are a superhero but what's your expertise?</option>
              </select>
              <i class="c-icon material-icons">keyboard_arrow_down</i>
            </div>
          </div>
					<div class="c-form-group">
            <label class="c-form-label" for="country">Favorite stacks</label>
            <div class="c-addon-container">
              <select id="country" class="c-form-control c-form-control--select">
								<option value="" disabled selected>We all have little favorites. Share your top 5 with us…</option>
              </select>
              <i class="c-icon material-icons">keyboard_arrow_down</i>
            </div>
          </div>
				</div>
			</div>

			<div class="c-card u-padding-30 u-margin-t-20">
				<p class="c-p u-grey30">Two-factor authentication</p>
				<p class="c-p u-xsmall u-margin-t-5 u-font-xsmall">Add an extra layer of safety against vilains.</p>

				<a href="#" class="c-link c-link--green10 c-link--no-decoration u-margin-t-15">Two-factor authentification enabled</a>
			</div>

			<div class="c-card u-padding-30 u-margin-t-20">
				<p class="c-p u-grey30">Delete account</p>
				<p class="c-p u-xsmall u-margin-t-5 u-font-xsmall">When there is no way out, sometimes the best is to leave everything behind. With no turning back possible.</p>

				<a href="#" class="c-link c-link--red10 c-link--no-decoration u-margin-t-15">Delete account</a>
			</div>
		</div>
	</div>

</div>

<div class="c-background">
	<div class="c-background__code c-background__code--1"></div>
	<div class="c-background__code c-background__code--red c-background__code--2"></div>
	<div class="c-background__code c-background__code--yellow c-background__code--3"></div>
	<div class="c-background__code c-background__code--4"></div>
	<div class="c-background__code c-background__code--red c-background__code--5"></div>
	<div class="c-background__code c-background__code--yellow c-background__code--6"></div>
	<div class="c-background__code c-background__code--7"></div>
	<div class="c-background__code c-background__code--red c-background__code--8"></div>
	<div class="c-background__code c-background__code--yellow c-background__code--9"></div>
</div>

{{ partial "footer" . }}
