{{ partial "head" . }}

<header class="c-header">
	<div class="l-container">
		<a href="/" class="c-logo-brand">
			{{ partial "logo-killbug" . }}
		</a>
		<a href="" class="c-header__account">
			<div class="c-badge">
				<img src="http://placehold.it/50x50" alt="">
			</div>
			<i class="c-icon material-icons">keyboard_arrow_down</i>
		</a>
	</div>
</header>

<div class="l-container u-padding-y-50">
	<div class="c-card">
		<div class="u-padding-x-50 u-padding-y-25">
			<h1 class="c-h2 u-inline-left">487 sessions found</h1>
		</div>

		<div class="c-table js-insert-session">
			<div class="c-table__head">
				<div class="c-table__cell">
					<button type="button" class="c-link c-link--dark">Duration <i class="c-icon material-icons">keyboard_arrow_down</i></button>
				</div>
				<div class="c-table__cell">
					<button type="button" class="c-link c-link--dark">Started at <i class="c-icon material-icons">keyboard_arrow_down</i></button>
				</div>
				<div class="c-table__cell">
					<button type="button" class="c-link c-link--dark">Is online <i class="c-icon material-icons">keyboard_arrow_down</i></button>
				</div>
			</div>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>
			<a href="javascript:void(0)" class="c-table__row">
				<div class="c-table__cell">
					<p class="c-p">
						3 mins
					</p>
				</div>
				<div class="c-table__cell">
					<p class="c-p">
						3 mins ago
					</p>
				</div>
				<div class="c-table__cell c-table__cell--arrow">
					<p class="c-p is-online"></p>
					<i class="c-icon material-icons">arrow_forward</i>
				</div>
			</a>

		</div>
	</div>
</div>

<div class="c-background">
	<div class="c-background__code c-background__code--1"></div>
	<div class="c-background__code c-background__code--red c-background__code--2"></div>
	<div class="c-background__code c-background__code--yellow c-background__code--3"></div>
	<div class="c-background__code c-background__code--4"></div>
	<div class="c-background__code c-background__code--red c-background__code--5"></div>
	<div class="c-background__code c-background__code--yellow c-background__code--6"></div>
	<div class="c-background__code c-background__code--7"></div>
	<div class="c-background__code c-background__code--red c-background__code--8"></div>
	<div class="c-background__code c-background__code--yellow c-background__code--9"></div>
</div>

{{ partial "footer" . }}
