.l-container {
	position: relative;
	@include container(12);
	z-index: map-get($z-index, content);
}

@for $i from 1 to 15 {
	.l-container-#{$i} {
		position: relative;
		@include container($i);
		z-index: map-get($z-index, content);
	}
}

.l-container--580 {
	width: 580px;
}

.l-container--360 {
	width: 360px;
}
