.l-grid-table {
	display: table;
	width: 100%;
	& > &__cell {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
		&--main {
			width: 100%;
			white-space: normal;
		}
	}
	&--top {
		> .l-grid-table__cell {
			vertical-align: top;
		}
	}
	&--bottom {
		> .l-grid-table__cell {
			vertical-align: bottom;
		}
	}
	&--responsive {
		@media (max-width: $screen-sm-min - 1) {
			text-align: center;
			> .l-grid-table__cell {
				display: block;
				white-space: normal;
			}
			.l-grid-table__cell + .l-grid-table__cell {
				margin-top: 10px;
			}
		}
	}
}
