.c-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&__code {
		position: absolute;
		height: 78px;
		width: 5px;
		border-radius: 100px;
		background-color: $blue10;

		&--red { background-color: $red10; }
		&--yellow { background-color: $yellow10; }

		&--1 {
			top: 3%;
			left: 33%;
		}
		&--2 {
			top: 79%;
    	left: 6%;
		}
		&--3 {
			top: 13%;
			left: 9%;
		}
		&--4 {
			top: 42%;
			left: 15%;
		}
		&--5 {
			top: 13%;
			left: 54%;
		}
		&--6 {
			top: 32%;
			left: 84%;
		}
		&--7 {
			top: 15%;
			left: 90%;
		}
		&--8 {
			top: 78%;
			left: 88%;
		}
		&--9 {
			top: 89%;
			left: 43%;
		}
	}


}
