$badge-size-xsmall: 30px;

.c-badge {
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	width: $badge-size-xsmall;
	height: $badge-size-xsmall;

	.c-img {
		max-width: 100%;
	}

	&--num {
		position: relative;
		width: 24px;
		height: 24px;
		background-color: $grey10;
		text-align: center;

		.c-p {
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			line-height: 23px;
			position: absolute;
			color: white;
			font-weight: bold;
		}
	}
}
