$button-height: 40px;

// ------------------------
// Mixin Button
// ------------------------
@mixin button() {
	display: inline-block;
	padding: 0 calc-rem(30px);
	height: $button-height;
	line-height: $button-height;
	text-align: center;
	border-radius: $border-radius-large;
	background-color: $blue10;
	transition: background-color $transition,
							opacity $transition;
	color: $white;
	border: 0;

	// Reset style if the button is in a button tag
	cursor: pointer;

	&:disabled {
		opacity: 0.3;
	}

	&:focus,
	&:hover {
		opacity: .7;
		background-color: $blue10;
	}

	.c-img {
		vertical-align: middle;
		width: 18px;
	}
}

// ------------------------
// Mixin Button variant
// ------------------------
@mixin button-variant($color-main, $color-hover, $color-text: $white) {
	background-color: $color-main;
	color: $color-text;

	&:focus,
	&:hover {
		opacity: 1;
		background-color: $color-hover;
	}
}

.c-button {
	@include button;

	&--github { @include button-variant(#464646, #3F3D3D); }
	&--twitter { @include button-variant(#3AAAE1, #3EA5D7); }

	&--radius-md {
		border-radius: $border-radius;
	}

	&--full-width {
		width: 100%;
	}

	&--min-width-130 {
		min-width: 130px;
	}

	.c-icon {
		line-height: $button-height;
	}

}
