.c-logo-brand {
	.c-logo-lightning-colored {
		display: none;
	}
	&:hover {
		.c-logo-lightning {
	    display: none;
	  }
		.c-logo-lightning-colored {
			display: block;
			animation: swap-logo-color 1s infinite;
		}
	}

	svg {
		pointer-events: none;
	}
}

@keyframes swap-logo-color {
	0% {
		fill: $yellow10;
	}
	33% {
		fill: $yellow10;
	}
	33.01% {
		fill: $red10;
	}
	66% {
		fill: $red10;
	}
	66.01% {
		fill: $blue10;
	}
	99% {
		fill: $blue10;
	}
}
