.c-link {
	display: inline-block;
	text-decoration: underline;
	transition: opacity $transition, color $transition;
	background: none;
	border: 0;
	padding: 0;

	&:hover,
	&:focus {
		opacity: 0.7;
	}

	&--dark {
		&:hover,
		&:focus {
			opacity: 1;
			color: $grey30;
		}

		&:active {
			opacity: .5;
		}
	}

	&.is-active {
		color: $grey30;
	}

	&--no-decoration {
		text-decoration: none;
	}

	&--green10 {
		color: $green10;
		font-weight: 600;
	}

	&--red10 {
		color: $red10;
		font-weight: 600;
	}

	&--icon {
		position: relative;
		padding-left: 25px;

		.c-icon {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			color: $blue10;
			font-size: 20px;
		}
	}
}
