.c-loader {
	width: 28px;
  height: 28px;
  border-radius: 100%;
  position: relative;

	&:before, &:after{
	  content: "";
	  position: absolute;
		top: -2px;
		left: -2px;
	  width: 100%;
	  height: 100%;
	  border-radius: 100%;
	  border: 3px solid transparent;
	  border-top-color: $blue10;
	}

	&:before{
	  z-index: 100;
	  animation: spin 1s infinite;
	}

	&:after{
	  border: 3px solid transparent;
	}
}

@keyframes spin{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
