.c-table {
	display: table;
	width: 100%;
  border-spacing: 0;

	&__head {
		height: 40px;
		display: table-row;
    vertical-align: middle;
		background-color: $grey5;
		.c-link {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 13px;
			text-decoration: none;

			.c-icon {
				font-size: 17px;
				vertical-align: middle;
			}
		}
	}

	&__row {
		display: table-row;
		height: 50px;
		width: 100%;
    vertical-align: middle;
		border: 0;
		background: none;
		transition: background-color $transition;

		& + & {
			.c-table__cell {
				border-top: 1px solid #EEEFF0;
			}
		}

		&:hover,
		&:focus {
			background-color: $grey5;
			.c-table__cell--arrow .c-icon {
				color: $blue10;
			}
		}
	}

	&__cell {
		display: table-cell;
    vertical-align: middle;

		&:nth-child(1) {
			width: 27%;
			padding-left: 50px;
		}
		&:nth-child(2) {
			width: 27%;
			padding-left: 20px;
		}
		&:nth-child(3) {
			width: 46%;
			padding-left: 20px;
			padding-right: 50px;
		}

		.is-online {
			position: relative;
			padding-left: 12px;
			&::before {
				position: absolute;
				display: block;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				content: '';
				height: 6px;
				width: 6px;
				background-color: $green10;
				border-radius: 50%;
			}

			&::after {
				content: 'Online';
			}
		}

		&--arrow {
			position: relative;

			.c-icon {
				position: absolute;
				right: 40px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 20px;
				transition: color $transition;
			}
		}
	}

	.c-p {
		font-size: 13px;
	}
}
