@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container($column) {
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	padding-left: 25px;
	padding-right: 25px;

	@media (min-width: $screen-sm-min) {
		width: ($container-sm * $column) / 12 + 40px;
	}
	@media (min-width: $screen-md-min) {
		width: ($container-md * $column) / 12 + 40px;
	}
}

// https://gist.github.com/mirisuzanne/1607696
// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
