{{ partial "head" . }}

<header class="c-header">
	<div class="l-container">
		<a href="/" class="c-logo-brand">
			{{ partial "logo-killbug" . }}
		</a>
		<a href="" class="c-header__account">
			<div class="c-badge">
				<img src="http://placehold.it/50x50" alt="">
			</div>
			<i class="c-icon material-icons">keyboard_arrow_down</i>
		</a>
	</div>
</header>

<div class="u-padding-y-50">
	<div class="l-container">
		<div class="c-card u-padding-x-30 u-padding-y-20">
			<div class="l-grid-table">
				<div class="l-grid-table__cell">
					<span class="material-icons u-blue10 u-vertical-middle">check_circle</span>
				</div>
				<div class="l-grid-table__cell l-grid-table__cell--main u-padding-l-10">
					<h2 class="c-h3 u-blue10 u-inline-left"> Create your account </h2>
				</div>
			</div>
		</div>
	</div>

	<div class="l-container-13 u-margin-t-20">
		<div class="c-card">
			<div class="u-padding-x-65 u-padding-y-40">
				<div class="l-grid-table">
					<div class="l-grid-table__cell">
						<div class="c-badge c-badge--num u-vertical-middle"><p class="c-p">2</p></div>
					</div>
					<div class="l-grid-table__cell l-grid-table__cell--main u-padding-l-10">
						<h2 class="c-h3 u-grey10 u-inline-left"> Create your account </h2>
					</div>
				</div>
				<p class="c-p u-bold u-margin-t-30">
					This is the tag that will allow killbug to do its job.
				</p>

				<div class="u-margin-t-10">
					<p class="c-p u-font-xsmall"><span class="c-p u-font-xsmall u-bold u-blue10 u-margin-r-5">1</span> Start by replacing the default USERID with your own value.</p>
					<p class="c-p u-font-xsmall"><span class="c-p u-font-xsmall u-bold u-blue10 u-margin-r-5">2</span> If you want to add your own metadata, you can do so in the context attribute. You can also use it to specify keys and values associated to the session.</p>
					<p class="c-p u-font-xsmall"><span class="c-p u-font-xsmall u-bold u-blue10 u-margin-r-5">3</span> Copy and paste this tag on all pages that need to be tracked.</p>
				</div>

				<div class="c-card u-margin-t-30">
					<div class="js-codemirror-tag c-codemirror">
						<button class="c-button c-button--min-width-130 js-button-copy-codemirror ">Copy code</button>
					</div>
				</div>

				<p class="c-p u-bold u-margin-t-30">
					All good? Now check the implementation:
				</p>

				<div class="u-margin-t-10">
					<p class="c-p u-font-xsmall"><span class="c-p u-font-xsmall u-bold u-blue10 u-margin-r-5">4</span> Open a new browser window.</p>
					<p class="c-p u-font-xsmall"><span class="c-p u-font-xsmall u-bold u-blue10 u-margin-r-5">5</span> Load a page where the tag  is implemented.</p>
				</div>

				<div class="c-card u-padding-25 u-bg-grey4 u-margin-t-30">
					<div class="l-grid-table">
						<div class="l-grid-table__cell">
							<div class="c-loader"></div>
						</div>
						<div class="l-grid-table__cell l-grid-table__cell--main u-padding-l-15">
							<p class="c-p"><span class="u-bold">Status:</span> Waiting for data from your application…</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="l-container u-margin-t-20">
		<div class="c-card u-padding-x-30 u-padding-y-20">
			<div class="u-opaque-half">
				<div class="l-grid-table">
					<div class="l-grid-table__cell">
						<div class="c-badge c-badge--num u-vertical-middle"><p class="c-p">3</p></div>
					</div>
					<div class="l-grid-table__cell l-grid-table__cell--main u-padding-l-10">
						<h2 class="c-h3 u-blue10 u-inline-left u-grey10">Done</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



<div class="c-background">
	<div class="c-background__code rellax c-background__code--1"></div>
	<div class="c-background__code rellax c-background__code--red c-background__code--2"></div>
	<div class="c-background__code rellax c-background__code--yellow c-background__code--3"></div>
	<div class="c-background__code rellax c-background__code--4"></div>
	<div class="c-background__code rellax c-background__code--red c-background__code--5"></div>
	<div class="c-background__code rellax c-background__code--yellow c-background__code--6"></div>
	<div class="c-background__code rellax c-background__code--7"></div>
	<div class="c-background__code rellax c-background__code--red c-background__code--8"></div>
	<div class="c-background__code rellax c-background__code--yellow c-background__code--9"></div>
</div>

{{ partial "footer" . }}
